.results-box {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  justify-content: space-around;
  text-align: center;
}
.results-box div {
  display: flex;
  flex-direction: column;
}
.results-box div span {
  font-size: 25px;
  padding: 1rem 0;
}
.results-box div img {
  width: 200px;
  margin: 1rem;
}
.results-box footer {
  display: flex;
}
.round-conclusion {
  color: var(--text-color);
  font-size: 30px;
  text-align: center;
}
.round-conclusion button {
  border: none;
  background-color: var(--tertiary-color);
  height: 50px;
  width: 100px;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 1rem;
  cursor: pointer;
}
.round-conclusion button:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

@media (max-width: 768px) {
  .results-box {
    height: 100%;
    margin-bottom: 1rem;
    flex-direction: column;
  }
  .round-conclusion {
    margin-bottom: 1rem;
  }
}
